@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$color-header-high-rating:#9335ff;
$color-header-low-rating:#e89d40;

$color-background-high-rating:#27aae1;
$color-background-low-rating:#e89d40;

$color-background: #f2f2f2;
$color-background-white: #ffffff;
$color-text: #999999;
$color-black: #000;

$bp-custom: 700px;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem=10px, 10px/16px = 62.5%

}

body {
    font-family: 'Comfortaa', cursive;
   
}