
.thred {
    width: 100%;
    position: relative;
    padding-bottom: 2px;
}

.expanded {
    position: relative;
    margin-bottom: 2rem;
    width: inherit;
}

.collapsed {
    position: absolute;
    width: inherit;
}

.message {
    display: flex;
    align-items: stretch;
    color: $color-text;
    background-color: $color-white;
    box-shadow: 2px 2px 5px rgba($color-black, .10);
    @include borderRaius(7px);

    width:100%;

    &__subject {
        width: 70%;
        padding: 2rem 1.8rem;

        h4 {
            font-size: 1.1rem;
        } 
    }

    &__team {
        width: 30%;
        padding: 2rem 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        position: relative;
    }
}

$msg-counter-height: 1.2rem;

.msg-counter {
    position: absolute;
    top: -$msg-counter-height/2;
    right: 1.5rem;
    height: $msg-counter-height;
    width: 11rem;
    text-align: center;
    font-size: .8rem;
    color: $color-white;
    padding: 2px 0 1px 0;
    @include borderRaius(200px);
}

.paragraph {
    font-size: 1.2rem;

    &-small {
        font-size: 1rem;
    }

    &-medium {
        font-size: 1.1rem;
    }
}

.mb-small {
    margin-bottom: 1rem;
}

.mt-small {
    margin-top: .2rem;
}

.high-rating {
    color: $color-header-high-rating;
}

.low-rating {
    color: $color-header-low-rating;
}

.bg-high-rating {
    background-color: $color-background-high-rating;
}

.bg-low-rating {
    background-color: $color-background-low-rating;
}

.hidden {
    display: none;
}