@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Comfortaa', cursive; }

.thred {
  width: 100%;
  position: relative;
  padding-bottom: 2px; }

.expanded {
  position: absolute;
  margin-bottom: 3rem;
  width: inherit; }

.collapsed {
  position: absolute;
  width: inherit; }

.message {
  display: flex;
  align-items: stretch;
  color: #999999;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  width: 100%; }
  .message__subject {
    width: 70%;
    padding: 2rem 1.8rem; }
    .message__subject h4 {
      font-size: 1.1rem; }
  .message__team {
    width: 30%;
    padding: 2rem 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    position: relative; }

.msg-counter {
  position: absolute;
  top: -0.6rem;
  right: 1.5rem;
  height: 1.2rem;
  width: 11rem;
  text-align: center;
  font-size: .8rem;
  color: #ffffff;
  padding: 2px 0 1px 0;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph-small {
    font-size: 1rem; }
  .paragraph-medium {
    font-size: 1.1rem; }

.mb-small {
  margin-bottom: 1rem; }

.mt-small {
  margin-top: .2rem; }

.high-rating {
  color: #9335ff; }

.low-rating {
  color: #e89d40; }

.bg-high-rating {
  background-color: #27aae1; }

.bg-low-rating {
  background-color: #e89d40; }

.hidden {
  display: none; }

.container {
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2; }

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
  width: 550px; }
  @media only screen and (max-width: 700px) {
    .list-container {
      width: 100%; } }
